.header {
    text-align: center;
}
.header img {
    height: 80px;
}
.header nav {
    background: black;
    line-height: 40px;
    font-size: 20px;
}
.header nav a{
    color: white;
    margin-right: 20px;
    padding: 5px;
    text-decoration: none;
}
.header nav a:hover{
    background-color: gray;
}